{% extends 'website/base.html' %}

{% block content %}

<div class="col-md-6" offset-md-3">
        <h1>Sign Up</h1>

        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}

    <form>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
        <div class="col">
            <div data-mdb-input-init class="form-outline">
            <input type="text" id="form3Example1" class="form-control" />
            <label class="form-label" for="form3Example1">First name</label>
            </div>
        </div>
        <div class="col">
            <div data-mdb-input-init class="form-outline">
            <input type="text" id="form3Example2" class="form-control" />
            <label class="form-label" for="form3Example2">Last name</label>
            </div>
        </div>
        </div>

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="form3Example3" class="form-control" />
        <label class="form-label" for="form3Example3">Email address</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form3Example4" class="form-control" />
        <label class="form-label" for="form3Example4">Password</label>
        </div>

        <!-- Submit button -->
        <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">Sign up</button>

        <!-- Register buttons -->
        <div class="text-center">
        <p>or sign up with:</p>

        <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
        </div>
    </form>
</div>

  {% endblock %}